
<div class="row terthiary-text-color paddiner text-center">
    <h1>ADMINISTRADOR DE PEDIDOS</h1>
</div>
<div class="row paddiner">
    <div class="col">
        <button class="btn btn-outline-warning" id="hasParams" (click)="modalType(0)" data-bs-toggle="modal" data-bs-target="#actionModal">Nuevo pedido</button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div *ngFor="let group of getOrdersGrps" class="row">
    <div *ngFor="let order of group" class="col">
        <div class="card primary-color marginer" style="width: 18rem;" >
            <div class="card-body">
              <h5 class="card-title secondary-text-color">{{ order.cxName}}<button type="button" class="btn btn-link fourth-text-color" data-bs-toggle="modal" data-bs-target="#actionModal" (click)="modalType(2,order)"><i class="bi bi-pencil"></i></button></h5>
              <p>Productos pedidos: <b>{{ order.prodQuant }}</b></p>
              <p class="card-text">Registrado: <b>{{ order.requesDateHour }}</b></p>
              <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success" (click)="dirWParams('menu', order.id)">Agrega a orden</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#actionModal" (click)="modalType(1, order.id)">Ver cuenta</button>
                </div>
              </div>
              
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ selectedModal }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="modalTypes[type] == modalTypes[0]" class="modal-body">
          <form>
            <input class="form-control marginer" type="text" placeholder="Ingrese nombre del cliente" name="cxName" [(ngModel)]="newOrder.cxName" autocomplete="on">
          </form>
        </div>
        <div *ngIf="modalTypes[type] == modalTypes[1]" class="modal-body">
          <div *ngIf="viewOrderAccnt">
            <p>Nombre: <b>{{ viewOrderAccnt.cxName }}</b></p>
            <ul>
              <li *ngFor="let prod of viewOrderAccnt.products" class="paddiner">
                <span>Producto: <b>  {{ prod.name }} </b> </span> <span> <b>  {{ prod.type }}</b></span>
                <p>Cantidad: <b>{{ prod.quant }}</b></p>
                <span>Precio unitario: <b>${{ prod.unitPrice }} </b> </span> <span> Precio total: <b class="secondary-text-color">${{ prod.totPrice }}</b></span>
              </li>
            </ul>
            <p>Total a pagar: <b class="secondary-text-color">${{ viewOrderAccnt.price }}</b></p>
            <div class="input-group mb-3 marginer">
              <span class="input-group-text">Cantidad a pagar</span>
              <input class="form-control" type="number" id="payVal" name="payVal">
              <button class="btn btn-outline-success" (click)="regPayment()">Agrega</button>
          </div>
          <select class="form-select" aria-label="Default select" [(ngModel)]="this.payVals.payMethod" (ngModelChange)="selectPayMethod($event)" id="payMethod">
            <option *ngFor="let method of payMethods" [value]="method">{{ method }}</option>
          </select>
          </div>
        </div>
        <div *ngIf="modalTypes[type] == modalTypes[2]" class="modal-body">
        <div class="input-group mb-3 marginer">
          <span class="input-group-text">Nombre: {{ orderSel.cxName }}</span>
          <input class="form-control" type="text" id="orderName" placeholder="Edita nombre" name="orderName" autocomplete="on">
          <button class="btn btn-outline-success" (click)="editOrderName('orderName')">Agrega</button>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear(type)">Close</button>
          <button type="button" class="btn btn-primary" id="builder" (click)="build()" data-bs-toggle="modal" data-bs-target="#reviewModal">Revisa</button>
        </div>
      </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ selectedModal }}</h5>
          <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="modalTypes[type] == modalTypes[1] && viewOrderAccnt && payVals" class="modal-body">
            <p>Total a pagar: <b>${{ viewOrderAccnt.price }}</b></p>
            <p>Metodo de pago: <b>{{ payVals.payMethod }}</b></p>
            <p>Paga: <b>${{ payVals.pay }}</b></p>
            <p>Cambio: <b>${{ payVals.change }}</b></p>
        </div>
        <div *ngIf="modalTypes[type] === modalTypes[2]" class="modal-body">
          <h4>Original</h4>
          <span class="text-large secondary-text-color"><b>{{ orderSel.cxName }}</b></span>
          <hr />
          <h4>Modificado</h4>
          <span class="text-large secondary-text-color"><b>{{ cxName }} </b> </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#actionModal">Regresa</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Confirma</button>
        </div>
      </div>
    </div>
</div>
