<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand pointer" (click)="direcciona('')">Burger PROSPI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="direcciona('')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="direcciona('menu')" [hidden]="logStatus == logOptions[1]">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="direcciona('ordenes')" [hidden]="logStatus == logOptions[1]">Ordenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="direcciona('inventario')" [hidden]="logStatus == logOptions[1]">Inventario</a>
        </li>
      </ul>
      <div class="d-flex dropdown" style="width: 15vw;">
        <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ logOptions[0] }}
        </a>
        <ul class="dropdown-menu paddiner">
          <form>
            <input class="form-control marginer" type="text" name="user" placeholder="Ingrese Usuario" [(ngModel)]="loginVals.user" autocomplete="true" [hidden]="logStatus == logOptions[2]">
            <input class="form-control marginer" type="password" name="pass" placeholder="Ingrese contraseña" [(ngModel)]="loginVals.pass" autocomplete="true" [hidden]="logStatus == logOptions[2]">
            <button id="logBtn" class="btn btn-outline-primary marginer" (click)="log(logStatus)">{{ logStatus }}</button>
          </form>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="paddiner bg-dark">
  <p-toast position="top-right"></p-toast>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen] = "true"></ngx-spinner>
  <router-outlet></router-outlet>
</div>
  <footer class="py-5 bg-dark" data-bs-theme="dark">
    <div class="row marginer">
      <div *ngIf="bsns" class="col-4 col-md-5 mb-3 terthiary-color">
        <h5 class="terthiary-color">NOSOTROS</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><p>Negocio: <b>{{ bsns.name }}</b></p></li>
          <li class="nav-item mb-2"><p>Ramo de negocio: <b>{{ bsns.role }}</b></p></li>
          <li class="nav-item mb-2"><p>Horarios: <b>{{ bsns.scheduleHoursStart }} a {{ bsns.scheduleHoursEnd }}</b></p></li>
          <li class="nav-item mb-2"><p>Dias de servicio: <b>{{ bsns.scheduleDaysStart }} a {{ bsns.scheduleDaysEnd }}</b></p></li>
          <li class="nav-item mb-2"><p>Direccion: <b>{{ bsns.address }} {{ bsns.zipcode}}</b></p></li>
          <li class="nav-item mb-2"><p>Fundado en: <b>{{ bsns.fundationDate }}</b></p></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-md-2 mb-3">
        <h5 class="terthiary-color">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5 class="terthiary-color">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div> -->
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top marginer terthiary-color">
      <p>© 2024 <b *ngIf="bsns">{{ bsns.name }}</b>, S.A de C.V. Todos los derechos reservados.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>