.paddiner {
    padding: 5px;
}

.marginer {
    margin: 5px;
}

.pointer {
    cursor: pointer;
}

.primary-color {
    background-color: rgb(255, 206, 85);
}

.secondary-color {
    background-color: rgb(212, 27, 0);
}

.terthiary-color {
    background-color: white;
}

.fourth-color {
    background-color: rgb(1, 129, 54);
}

.primary-text-color {
    color: rgb(255, 206, 85);
}

.secondary-text-color {
    color: rgb(212, 27, 0);
}

.terthiary-text-color {
    color: white;
}

.fourth-text-color {
    color: rgb(1, 129, 54);
}

.text-large {
    font-size: large;
}

.text-larger-size {
    font-size: larger;
}

.text-x-large-size {
    font-size: x-large;
}

.text-style-one {
    font-style: oblique;
}