<div class="row">
    <div class="primary-color text-center">
        <h1 class="float-start" style="width: 85vw;">Menú</h1>
        <button class="btn btn-dark float-end marginer position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-cart4"></i>
            <span id="alertClass"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Orden</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <table class="table table-light stripped">
                    <thead>
                        <tr> 
                            <th scope="col">Producto</th>
                            <th scope="col">Presentacion</th>
                            <th scope="col">C/Todo?</th>
                            <th scope="col">Cant</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let ordered of orderProds; index as i">
                        <tr>
                            <th scope="row">{{ ordered.name }}</th>
                            <td>{{ ordered.type}}</td>
                            <td>{{ ordered.inclAll}}</td>
                            <td>{{ ordered.quant }}</td>
                            <td>
                                <button class="btn btn-warning" (click)="selectModal(1,ordered,i)" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="bi bi-arrow-repeat"></i></button>
                                <button class="btn btn-danger" (click)="selectModal(2, '',i)" data-bs-toggle="modal" data-bs-target="#reviewModal"><i class="bi bi-dash-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success marginer"  data-bs-toggle="modal" data-bs-target="#reviewModal" (click)="selectModal(3)" [disabled]="!orderProds.length || disable"><i class="bi bi-check-circle"> Revisa</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row marginer ">
    <div class="row">
        <div class="btn-group bg-light" role="group" aria-label="Basic">
            <button *ngFor="let name of filters" type="button" [id]="name+'filter'" class="btn btn-outline-primary" aria-current="page" (click)="filter(name)"><span *ngIf="name === ''">Todos</span>{{ name }}</button>
        </div>
    </div>
    <div *ngFor="let group of menuGroups" class="row">
        <div *ngFor="let product of group" class="col">
            <div class="card pointer primary-color marginer" style="width: 18rem;" (click)="selectModal(0, product)"  data-bs-toggle="modal" data-bs-target="#actionModal">
                <div class="card-body">
                    <h4 class="card-title secondary-text-color">{{ product.name}}</h4>
                    <p><b class="fourth-text-color text-x-large-size text-style-one">{{ product.type }}</b></p>
                    <p>Contiene: <b class>{{ product.detail }}</b></p>
                    <p class="bg-light text-large secondary-text-color" style="width: 100px; border-radius: 5px"><b>$ {{ product.price }}</b></p>
                    <span *ngFor="let type of product.types" class="card-text"><b> ~{{ type }}</b></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ selectedMod }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="selectedMod == modalOpts[0]" class="modal-body">
            <form>
                <input class="form-control marginer" type="text" placeholder="Nombre del producto" name="prodName" [(ngModel)]="prodPref.name" autocomplete="on" disabled>
                <input class="form-control marginer" type="text" placeholder="Presentacion del producto" name="prodPresn" [(ngModel)]="prodPref.type" disabled>
                <div class="input-group mb-3 marginer">
                    <input class="form-control" type="number" id="quant" placeholder="Ingresa cantidad (default 1)" name="prodName" autocomplete="off">
                    <button class="btn btn-outline-success" (click)="chngQuant()">Agrega</button>
                </div>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRatioDefault" id="flexRadioDefault1" (click)="InclAll('Si')" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Con todo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRatioDefault" id="flexRadioDefault2" (click)="InclAll('No')">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Elimina ingredientes
                        </label>
                        <hr />
                        <div *ngFor="let grps of prodPrefDtlArr" class="form-check form-check-inline row">
                            <div *ngFor="let cond of grps" class="col">
                                <input class="form-check-input" type="checkbox" [id]="cond" value="0" (click)="delCond(cond)">
                                <label class="form-check-label" for="cond">{{ cond }}</label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="flexRatioDefault" id="flexRadioDefault3" (click)="iclFrFrieds()">
                            <label class="form-check-label" for="flexRadioDefault3">Con papas</label>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="input-group mb-3 marginer">
                                <input class="form-control" type="number" id="extra-cost" placeholder="Ingrese costo del extra" name="extraCost" autocomplete="on">
                            </div>
                        </div>
                        <div class="row">
                            <label>Condimentos extras</label>
                            <input class="form-control" type="text" name="filterAddlCond" id="filterAddlCond" (keyup)="filterAddlCond()" placeholder="Escribe para filtrar">
                        </div>
                        <div *ngFor="let grp of showAddlConds" class="form-check row" id="newExtraConds">
                            <div *ngFor="let cond of grp" class="col">
                                <input class="form-check-input" type="checkbox" [id]="cond" value="0" (click)="addlCond(cond)" [checked]="false">
                                <label class="form-check-label" for="cond">{{ cond }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="selectedMod == modalOpts[1]" class="modal-body">
            <form>
                <div class="input-group mb-3 marginer">
                    <span class="input-group-text">Producto</span>
                    <input class="form-control" type="text" name="prodName" [value]="prodSel.name" disabled>
                </div>
                <div class="input-group mb-3 marginer">
                    <span class="input-group-text">Presentacion</span>
                    <input class="form-control" type="text" name="prodPresn" [value]="prodSel.type" disabled>
                </div>
                <div class="input-group mb-3 marginer">
                    <span class="input-group-text">Cantidad: {{ prodSel.quant }}</span>
                    <input class="form-control" type="number" id="quant" placeholder="Ingresa cantidad (default 1)" name="prodName" autocomplete="on">
                    <button class="btn btn-outline-success" (click)="editMenuProd('quant')">Agrega</button>
                </div>
                <div>
                    <span *ngIf="prodSel.inclAll === 'Si'">Ingredientes: <b class="secondary-text-color">Con todo</b></span>
                    <span *ngIf="prodSel.rmvCond">Ingredientes: Sin <b class="secondary-text-color">{{ prodSel.rmvCond }}</b></span>
                </div>
                <div>
                    <span *ngIf="prodSel.adds === 1"><b class="fourth-text-color">Con papas</b></span>
                    <span *ngIf="prodSel.adds === 0"><b class="fourth-text-color">Sin papas</b></span>
                </div>
                <div *ngIf="prodSel.extraConds">
                    <span *ngIf="prodSel.extraConds.length > 0">Condimentos extras: <b *ngFor="let cond of prodSel.extraConds" class="secondary-text-color"> {{ cond }} </b></span>
                    <span *ngIf="prodSel.extraConds.length > 0 || prodSel.adds === 1">Precio de extras: <b class="secondary-text-color"> {{ prodSel.extraCost }} </b></span>
                </div>
                <div>
                    <hr />
                    <h5>Edita</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRatioDefault" id="flexRadioDefaultUno" (click)="editInclAll('Si')" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Con todo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRatioDefault" id="flexRadioDefaultDos" (click)="editInclAll('No')">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Elimina ingredientes
                        </label>
                        <hr />
                        <div *ngFor="let cond of prodIngrs" class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" [id]="cond" value="0" (click)="editDelCond(cond)">
                            <label class="form-check-label" for="cond">{{ cond }}</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="flexRatioDefault" id="flexRadioDefault3" (click)="iclFrFrieds()">
                        <label class="form-check-label" for="flexRadioDefault3" >Con papas</label>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="input-group mb-3 marginer">
                            <input class="form-control" type="number" id="edit-extra-cost" placeholder="Ingrese costo del extra" name="extraCost" autocomplete="on">
                        </div>
                    </div>
                    <div class="row">
                        <label>Condimentos extras</label>
                        <input class="form-control" type="text" name="filterAddlCond" id="filterAddlCond" (keyup)="filterAddlCond()" placeholder="Escribe para filtrar">
                    </div>
                    <div *ngFor="let grp of showAddlConds" class="form-check row" id="editExtraConds">
                        <div *ngFor="let cond of grp" class="col">
                            <input class="form-check-input" type="checkbox" [id]="cond" value="0" (click)="addlCond(cond)" [checked]="false">
                            <label class="form-check-label" for="cond">{{ cond }}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal" (click)="build(modalSel)">Revisa</button>
        </div>
      </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Revisa</h5>
          <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="selectedMod == modalOpts[0]" class="modal-body">
            <h4 class="secondary-text-color">{{ orderProd.name }}</h4>
            <p><b class="text-larger fourth-text-color">{{ orderProd.type }}</b></p>
            <p>Cantidad: <b class="secondary-text-color">{{ orderProd.quant }}</b></p>
            <p *ngIf="orderProd.inclAll === 'Si'">Ingredientes: <b class="secondary-text-color">Con todo</b></p>
            <p *ngIf="orderProd.inclAll === 'No' && orderProd.rmvCond">Sin <b class="secondary-text-color">{{ orderProd.rmvCond }}</b></p>
            <p>Con papas? <b class="secondary-text-color">{{ frnFriesOpts[frenchFries] }}</b></p>
            <div *ngIf="addAddlIngr">
                <p *ngIf="addAddlIngr.length">Condimentos adicionales: <b *ngFor="let addlIngr of addAddlIngr" class="fourth-text-color"> {{ addlIngr }}</b></p>
                <p *ngIf="addAddlIngr.length || frnFriesOpts[frenchFries] === 'Si'">Costo de extra: <b class="fourth-text-color">{{ orderProd.extraCost }}</b></p>
            </div>
        </div>
        <div *ngIf="selectedMod == modalOpts[1]" class="modal-body">
            <div class="row">
                <h4>Original</h4>
                <span class="text-large secondary-text-color"><b>{{ prodSel.name }} </b> </span> <span class="text-large fourth-text-color"> <b> {{ prodSel.type }}</b></span>
                <p>Cantidad: <b>{{ prodSel.quant}}</b></p>
                <p *ngIf="prodSel.inclAll === 'Si'">Ingredientes: <b class="secondary-text-color">Con todo</b></p>
                <p *ngIf="prodSel.inclAll === 'No'">Sin: <b class="secondary-text-color"> {{ prodSel.rmvCond }}</b>.</p>
                <p *ngIf="prodSel.adds === 1">Adicionales: <b class="secondary-text-color">Con papas</b></p>
                <div *ngIf="prodSel.extraConds">
                    <p *ngIf="prodSel.extraConds.length > 0">Extra: <b *ngFor="let xtrCnd of prodSel.extraConds" class="secondary-text-color">{{ xtrCnd }}</b></p>
                    <p *ngIf="prodSel.adds === 1 && prodSel.extraConds.length > 0">Precio por extras: <b class="secondary-text-color">{{ prodSel.extraCost }}</b></p>
                </div>
            </div>
            <hr />
            <div *ngIf="prodEdit" class="row">
                <h4>Modificado</h4>
                <span class="text-large secondary-text-color"><b>{{ prodEdit.name }} </b> </span> <span class="text-large fourth-text-color"> <b> {{ prodEdit.type}}</b></span>
                <p>Cantidad: <b>{{ prodEdit.quant}}</b></p>
                <p *ngIf="prodEdit.inclAll === 'Si'">Ingredientes: <b class="secondary-text-color">Con todo</b></p>
                <p *ngIf="prodEdit.inclAll === 'No'">Sin: <b class="secondary-text-color"> {{ prodEdit.rmvCond }}</b>.</p>
                <p *ngIf="prodEdit.adds === 1">Adicionales: <b class="secondary-text-color">Con papas</b></p>
                <div *ngIf="prodEdit.extraConds">
                    <p *ngIf="prodEdit.extraConds.length > 0">Extra: <b *ngFor="let xtrCnd of prodEdit.extraConds" class="secondary-text-color">{{ xtrCnd }}</b></p>
                    <p *ngIf="prodEdit.adds === 1 && prodEdit.extraConds.length > 0">Precio por extras: <b class="secondary-text-color">{{ prodEdit.extraCost }}</b></p>
                </div>
            </div>
        </div>
        <div *ngIf="selectedMod == modalOpts[2]" class="modal-body">
            <h4 class="text-danger">Deseas eliminar este producto?</h4>
            <div *ngIf="prodSel" class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Producto: <b class="fourth-text-color">{{ prodSel.name }} </b> </span> <span> <b class="secondary-text-color"> {{ prodSel.type }}</b></span>
                    </li>
                    <li class="list-group-item">
                        <span>Con todo? <b>{{ prodSel.inclAll }}</b></span>
                    </li>
                    <li class="list-group-item" *ngIf="prodSel.rmvCond">
                        <span>Sin: <b >{{ prodSel.rmvCond }}</b></span>
                    </li>
                    <li class="list-group-item">
                        <span>Cantidad: <b>{{ prodSel.quant }}</b></span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="selectedMod == modalOpts[3]" class="modal-body">
            <div *ngFor="let order of orderProds; index as i" class="card marginer" style="width: 18rem;">
                <div class="card-header">
                    <p class="fourth-text-color"><b>Producto {{ i+1 }}</b></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Nombre: <b class="secondary-text-color">{{ order.name }} </b> </span> <span> <b class="fourth-text-color"> {{ order.type }}</b></span>
                    </li>
                    <li class="list-group-item">
                        Cantidad: <b class="secondary-text-color">{{ order.quant }}</b>
                    </li>
                    <li *ngIf="order.inclAll === 'Si'" class="list-group-item">
                        Ingredientes: <b class="secondary-text-color">Con todo</b>
                    </li>
                    <li *ngIf="order.inclAll === 'No'" class="list-group-item">
                        Sin: <b class="secondary-text-color">{{ order.rmvCond }}</b>
                    </li>
                    <li *ngIf="order.adds" class="list-group-item">
                        Adicional: <b class="secondary-text-color">Con papas</b>
                    </li>
                    <li *ngIf="order.extraConds.length > 0" class="list-group-item">
                        Extras: <b *ngFor="let xtrCond of order.extraConds" class="secondary-text-color"> {{ xtrCond }}</b>.
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="returnBtn" data-bs-toggle="modal" data-bs-target="#actionModal" (click)="undoBuild()">Regresa</button>
          <button type="button" class="btn btn-primary" (click)="submit()" data-bs-dismiss="modal">Confirma</button>
        </div>
      </div>
    </div>
</div>